################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoApplication/.vs/DemoApplication
/DemoApplication/DemoApplication/bin/Debug/netcoreapp3.1
/DemoApplication/DemoApplication/obj
/DemoApplication/DemoApplication/wwwroot/lib
